[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.20"
Werkzeug = ">=3"

[dev-packages]
ruff = "~=0.7"

[scripts]
create-archive = "python3 ./scripts/archive.py"
